.list-wrapper {
  position: relative;
}
.list-item-wrapper {
  margin-top: 10px;
  position: relative;
}
.list-bullet {
  float: left;
  margin-right: 20px;
  background: #5bc0de;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 100px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.list-item {
  display: table-row;
  vertical-align: middle;
}
.list-title {
  font-weight: 700;
}
.list-text {
  font-weight: 400;
}
.red-line {
  background: #5bc0de;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 15px;
}
.white-line {
  background: #fff;
  top: 30px;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 15px;
}

.small-grey {
  color: grey;
  font-size: 0.9em;
}
